<table id="CLIMATE" border="1" style="width:360;background-color:#C0C0C0;text-align:center;">
  <% if @climate_available %>
    <tr>
      <td>
        <b>
        Normal High
        </b>
        <br>
        <%= @normal_high %>
      </td>
      <td>
        <b>Normal Low
        </b>
        <br>
        <%= @normal_low %>
      </td>
    </tr>
  <% end %>
</table>
