<span style="text-align:center;font-size:1.5em"3 Day Tide Predictions - <a href="http://tides.tom.org">Complete Tide Info</a>

<p style="text-align:center;font-family:Arial, sans-serif"><%= image_tag("tides.png") %>
