<html>
  <head>
    <%= javascript_include_tag :defaults %>
    <meta name="verify-v1" content="GYFz3wNRskJO2k9uhxRRYuYW+kH9UmPZj8lnMV1BzaY=">
    <meta name="keywords" content="Beverly weather tide Boston Mass massachusetts ma live rails java temperature dry hot humid cold new england northeast current humid rain wind windy current">
    <meta HTTP-EQUIV="Pragma" content="no-cache">
    <meta HTTP-EQUIV="Cache-Control" content="no-cache">
    <meta HTTP-EQUIV="Refresh" content="600">
    <meta HTTP-EQUIV="ContentType" content="text/html">
    <title>
      Live Beverly, MA Weather
    </title>
  </head>

  <body style="background-color:#FFFFFF;background-image:url(<%= image_path('sky-bkgd1.jpg') %>);" >
    <center>
    <div style="background-color:#000080;font-family:'Arial Black';color:#FFFFFF;text-align:left;width:100%;font-size:1.25em">
      <strong>Live Weather in Beverly, MA</strong>
    </div>
    <p>
    <% cache(:action => "index", :action_suffix => "sunapplet") do %>
      <%= render(:partial => "sunapplet", :layout => false  ) %>
    <% end %>
      <br>
      <table border=1 style="background-color:#C0C0C0;text-align:center;width:360px">
        <tr>
          <td>
            <%= format_alert(@alerts) %>
          </td>
        </tr>
      </table>
        <!--span style="color:#0000ff">&nbsp- This is a warning&nbsp</span>
        <span style="color:#0000FF">&nbsp- This is a forecast&nbsp</span>
        <span style="color:#0000FF">&nbsp- This is a watch&nbsp</span>
        <span style="color:#0000FF;font-size:0.75em">&nbsp- This is an outlook&nbsp</span>
        <span style="color:#0000FF;font-size:0.75em;">&nbsp- This is an advisory</span-->
    <table>
      <% if @current.nil? %>
        <p>
        <b>Current Conditions Currently Unavailable</b>
      <% else %>
        <tr>
          <td>
            <div id="current_conditions">
              <table>
                <%= render(:partial => "current_conditions", :layout => false  ) %>
              </table>
            </div>
        <tr align="center">
<%= periodically_call_remote(:update => 'current_conditions',
				 :url => { :action => :current_conditions }, :frequency => 5, :complete => visual_effect(:highlight, 'current_conditions', :startcolor => "#003333"))  %>
</tr>
<%= render(:partial => "climate_info", :layout => false  ) %>
<% end %>

<table>
<tr align="center">
<td>
<div id="period">
<%= render(:partial => "period", :layout => false  ) %>
</div>
<%= periodically_call_remote(:update => 'period',
				 :url => { :action => :period },
				 :frequency => 60 ) %>

</td>
</tr>

<%= render(:partial => "sunrise", :layout => false  ) %>

</table>
<p/>

<%= render(:partial => "radarwebcam", :layout => false  ) %>

<% cache(:action => "index", :action_suffix => "graphs") do %>
  <%= render(:partial => "graphs", :layout => false  ) %>
<% end %>

<%= render(:partial => "forecast", :layout => false  ) %>

<% cache(:action => "index", :action_suffix => "tides") do %>
  <%= render(:partial => "tides", :layout => false  ) %>
<% end %>

<table>
  <%= render(:partial => "alerts") %>
</table>

<% cache(:action => "index", :action_suffix => "info") do %>
  <%= render(:partial => "info", :layout => false  ) %>
<% end %>

<% cache(:action => "index", :action_suffix => "google_analytics") do %>
  <%= render(:partial => "google_analytics", :layout => false  ) %>
<% end %>
</table>
</center>
</body>

</html>
